.header {
  position: relative;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
  margin-top: 30px;
}
.header.black {
  background-color: #14111414;
}
.header--logo {
  height: 30px;
}
.header--logo img {
  height: 100%;
  margin-left: 30px;
}
.header--user {
  height: 35px;
}
.header--user img {
  height: 100%;
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 2px;
}
